body{
  background-color: #F4F4F4;
  color: #2D2727;
  font-family: 'Raleway', sans-serif;
}

#header-container{
 background-color: #2d2d2d;
 color:white;
}

footer{
 background-color: #2d2d2d;
 color:white;
}

.card{
  width:100%;
  background-color: white;
  margin-top: 25px;
  min-height: 400px;
}

.img-circle {
    border-radius: 50%;
    margin-left: -30px;
    margin-top: -10px;

  -webkit-box-shadow: 4px 6px 16px -4px rgba(0,0,0,0.75);
   -moz-box-shadow: 4px 6px 16px -4px rgba(0,0,0,0.75);
   box-shadow: 4px 6px 16px -4px rgba(0,0,0,0.75);
}

.characterName{

    font-size: 15px;
    font-weight: bold;
    margin-left: -15px;

}

.characterDesc{
    
    font-size: 11px;
    margin-left: -30px;
    margin-top: 5px;
    text-align: justify;
    text-justify: inter-word;
    padding: 2px;
    
    max-height: 150px;
    overflow: auto;


}

.caracterNameContainer{
  margin-top: -10px;
}

.btn-viewMore{
    background-color: #EC1D23;
    margin-left: -30px;
    border:solid 1px #EC1D23;
    font-weight: bold;
}

.btn-viewMore:hover{
  background-color: #6E0D10;
  border:solid 1px #6E0D10;
}

.btn-viewMore:focus{
  background-color: #6E0D10;
  border:solid 1px #6E0D10;
}

.btn-viewMore:selected{
  background-color: #6E0D10;
  border:solid 1px #6E0D10;
}


.relatedDesc{
   color:#786E6D;
   font-size: 16px;
   margin-top: 20px;
   margin-left: 15px;
   font-weight: bold;
}

.relatedDescItem{
  font-size: 11px;
  margin-top: 5px;

}

.relatedDescItem:hover{
  font-weight: bold;
  color: #EC1D23;
  cursor: pointer;
}

.img-arrow-link{
  height: 10px;
  width: 20px;
}

.hidden{
  display: none;
}

.shown{
  display: block;
}

#marvel-logo{
  height: 60px;
  width: 180px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#txtSearch{
  border-radius: 4px;
  font-size: 18px;
  width: 70%;  
}

#img-search{
  
  margin-left: -40px;
  height: 31px;
  margin-top: -3px;
  border-radius: 4px;

}

#selOrder{
  width: 200px;
  margin-left: -50px;
}

#sortBySection{
  margin-top: 10px;
}

#lblCharacters{
  font-weight: bold;
}

#imgGrab{
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#favComicsSection{
  background-color:#EBEBEB;   
}

.pagination{

   list-style-type: none;
   text-align: center;

}

.pagination li{

   display: inline;
   text-align: center;
   margin-left: 60px !important;
   font-weight: bold;

   
  
}

.pagination a{
   font-size: 25px !important;
   color:#2d2d2d !important;
}



.btn-close-modal{
  height: 25px;
  width: 25px;
}

.modal-header{
  border: none;
}

#row-mainInfo-comic{

  height: 60vh;
  
}

#row-footerInfo-comic{
  height: 10vh;
 
}

#row-footerInfo-comic:hover{
  cursor: pointer;
}

.addFav-modal-container{
   background-image: url("../images/btn-favourites-default.png");
   height: 30px;
   width: 30px;
   background-size: cover;
}


.addFav-modal-container-hover{
   background-image: url("../images/btn-favourites-primary.png");
   height: 30px;
   width: 30px;
   background-size: cover;
}

#btn-add-fav-parent{
  text-align: right !important;
}

#left-modal-section{
   background-color: #F0F0F0;
}

#left-modal-section:hover{
  background-color:#322827;
  color: #EC1D23;
}

#buy-modal-container{
  background-color: #DCDCDC;
}


#btn-add-fav{
  height: 30px;
  width: 30px;
}

#row-footerInfo-comic .row{
 
  height: 10vh;
 
}

.modal-img{
  width: auto;
  height: 100%;
}

.modalComicDesc{
   text-align: justify;
   text-justify: inter-word;
   font-size: 14px;
}

#btnTest{
  display: none;
}

#favComicsSection{
  padding: 10px;
}

.newFavComicSection{
  margin-bottom: 20px;
}



@media (min-width: 100px) and (max-width: 544px) {
  
  .img-circle{
    width: 150px;
    height: 150px;

    margin-top: -10px;
    margin-left: 0px;
  }

  .characterName{
    margin-left: 5px;
  }

  .caracterNameContainer{
    margin-top: 10px;
  }

  .characterDesc{
    margin-left: 5px;
  }

  .btn-viewMore{
    margin-left:0px;
    width: 100%;
  }

  #selOrder{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

}

@media (min-width: 545px) and (max-width: 768px) {

 .img-circle{
    width: 100px;
    height: 100px;

    margin-top: 0px;
    margin-left: 0px;

  }

   .characterName{
    margin-left: 5px;
  }

  .caracterNameContainer{
    margin-top: 10px;
  }

   .characterDesc{
    margin-left: 5px;
  }

  .btn-viewMore{
    margin-left:0px;
    width: 100%;
  }

  #selOrder{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 0px;
    background-color:white;
  }

  #buy-for-text{
    color:red !important;    
  }


}

@media (min-width: 769px) and (max-width: 992px) {

  .img-circle{
    width: 200px;
    height: 200px;
  }

}

@media (min-width: 993px) and (max-width: 1200px){
  .img-circle{
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 1201px) and (max-width: 1450px){
  .img-circle{
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 1451px){
  .img-circle{
    width: 240px;
    height: 240px;
  }
}