body{
  background-color: #EBEBEB;
  color: #2D2727;
  font-family: 'Raleway', sans-serif;
}

#header-container{
 background-color: #2d2d2d;
 color:white;
}

#footer-container{
 background-color: #2d2d2d;
 color:white;
}

.card{
  width:100%;
  background-color: white;
  margin-top: 25px;
  min-height: 400px;
}

.img-circle {
    border-radius: 50%;
    margin-left: -30px;
    margin-top: -10px;

  -webkit-box-shadow: 4px 6px 16px -4px rgba(0,0,0,0.75);
   -moz-box-shadow: 4px 6px 16px -4px rgba(0,0,0,0.75);
   box-shadow: 4px 6px 16px -4px rgba(0,0,0,0.75);
}

.characterName{

    font-size: 15px;
    font-weight: bold;
    margin-left: -15px;

}

.characterDesc{
    
    font-size: 11px;
    margin-left: -30px;
    margin-top: 5px;
    text-align: justify;
    text-justify: inter-word;
    padding: 2px;
    
    max-height: 150px;
    overflow: auto;


}

.caracterNameContainer{
  margin-top: -10px;
}

.btn-viewMore{
    background-color: #EC1D23;
    margin-left: -30px;
    border:solid 1px #EC1D23;
    font-weight: bold;
}

.btn-viewMore:hover{
  background-color: #6E0D10;
  border:solid 1px #6E0D10;
}

.btn-viewMore:focus{
  background-color: #6E0D10;
  border:solid 1px #6E0D10;
}

.btn-viewMore:selected{
  background-color: #6E0D10;
  border:solid 1px #6E0D10;
}


.relatedDesc{
   color:#786E6D;
   font-size: 16px;
   margin-top: 20px;
   margin-left: 15px;
   font-weight: bold;
}

.relatedDescItem{
  font-size: 11px;
  margin-top: 5px;
}

.relatedDescItem:hover{
  font-weight: bold;
  color: #EC1D23;
  cursor: pointer;
}

@media (min-width: 100px) and (max-width: 544px) {
  
  .img-circle{
    width: 100px;
    height: 100px;
  }

}

@media (min-width: 545px) and (max-width: 768px) {

 .img-circle{
    width: 100px;
    height: 100px;
  }


}

@media (min-width: 769px) and (max-width: 992px) {

  .img-circle{
    width: 120px;
    height: 120px;
  }

}

@media (min-width: 993px) and (max-width: 1200px){
  .img-circle{
    width: 160px;
    height: 160px;
  }
}

@media (min-width: 1201px) and (max-width: 1450px){
  .img-circle{
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 1451px){
  .img-circle{
    width: 240px;
    height: 240px;
  }
}