<!--Header-->
<header>
  <div id="header-container" class="container-fluid">
    <div class="row text-xs-center flex-items-xs-middle">
      
      <div class="col-xs-12 col-sm-12 col-md-2">
        
        <a href="#home"><img id="marvel-logo" src="images/MARVEL_LOGO.png"/></a>

      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-6 text-xs-center text-md-right">
      	<input id="txtSearch" type="text" placeholder="Search character..." /> 	
      	<img id="img-search" src="images/search.png"> 
      </div>
	 
      <div class="col-xs-12 col-sm-12 col-md-2">
      	
      </div>


    </div>
  </div>
</header>
<!--/Header-->
