
<!--Header-->
<header>
  <div id="header-container" class="container-fluid">
    <div class="row text-xs-center flex-items-xs-middle">
      
      <div class="col-xs-12 col-sm-12 col-md-2">
        
        <a href="#home"><img id="marvel-logo" src="images/MARVEL_LOGO.png"/></a>

      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-6 text-xs-center text-md-right">

        
          <input id="txtSearch" ng-model="Search" ng-change="newSearch(Search)" type="text" placeholder="Search character..." />  
          <img id="img-search" src="images/search.png">


      </div>
   
      <div class="col-xs-12 col-sm-12 col-md-2">
        
      </div>


    </div>
  </div>
</header>
<!--/Header-->



<div id="homeContainer" class="container-fluid">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">

      <div class="container-fluid">

        <div id="sortBySection" class="row flex-items-xs-middle">
         
          <div class="col-xs-12 col-md-1 text-xs-center text-md-right">
            <img id="imgCharacters" src="images/characters.png">
          </div>
          
          <div class="col-xs-12 col-md-9 text-xs-center text-md-left">
            <H3 id="lblCharacters">Characters</H3>
          </div>
          <div class="col-xs-12 col-md-2 text-xs-center text-md-right">                     
              
            
              <select aria-label="ngSelected demo" id="selOrder" class="custom-select" ng-model="filterOrder">                           
                 <option id="name">name</option>
                 <option id="id">id</option>
                 <option id="modified">modified</option>                  
              </select>


          </div>
        
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" dir-paginate="Character in Characters | itemsPerPage:10 | orderBy:[filterOrder]">

                <div class="card">

                  <div class="container-fluid">

                    <div class="row" style='min-height:200px;'>

                     <div class="col-xs-12 col-sm-6 col-md-6 text-xs-center">
                        <img class='img-circle' src='{{Character.thumbnail.path + "." +  Character.thumbnail.extension}}'>
                     </div>
                     <div class="col-xs-12 col-sm-6 col-md-6">

                         <div class='row'>

                           <div class='caracterNameContainer col-xs-12 text-xs-center text-md-left'>
                             <p class='characterName'>{{Character.name}}</p>
                           </div>

                           <div class='col-xs-12'>
                            <div class='characterDescContainer'>
                             <p class="characterDesc">{{Character.description}}</p>
                            </div>
                           </div>

                           <div class='col-xs-12'>
                              <input type='button' class='btnViewMore btn btn-primary btn-viewMore' value='View more' />
                           </div>

                         </div>
                         
                     </div>

                  </div>
                  <div class="row">
                    
                    <div class='row text-xs-left'>
                            
                            <div class='col-xs-12'>
                              <p class='relatedDesc'>Related comics</p>
                            </div>

                    </div>
                  </div>

                  <div class="row text-xs-left">
                    
                    <div class="col-xs-6">


                      <div class="row flex-items-xs-middle">
                        <div class='col-xs-2 text-xs-right'>
                          <img ng-init="Character.sel1='0'" ng-class="{'hidden':Character.sel1 == '0','shown':Character.sel1 == '1'}" class='img-arrow-link' src='images/link-arrow.png'>
                        </div>
                        <div class='col-xs-10 text-xs-left'>
                          <p class="relatedDescItem" ng-mouseenter="Character.sel1='1'" ng-mouseout="Character.sel1='0'">{{Character.comics.items[1].name}}</p>
                        </div>
                      </div>       

                        
                    

                     </div>

                    <div class="col-xs-6">



                          <div class="row flex-items-xs-middle">
                        <div class='col-xs-2'>
                          <img ng-init="Character.sel0='0'" ng-class="{'hidden':Character.sel0 == '0','shown':Character.sel0 == '1'}" class='img-arrow-link' src='images/link-arrow.png'>
                        </div>
                        <div class='col-xs-10'>
                          <p class="relatedDescItem" ng-mouseenter="Character.sel0='1'" ng-mouseout="Character.sel0='0'">{{Character.comics.items[0].name}}</p>
                        </div>
                      </div>                       

                      

                    </div>

                  </div>


                  <div class="row text-xs-left">
                    
                    <div class="col-xs-6">
                        

                        <div class="row flex-items-xs-middle">
                        <div class='col-xs-2'>
                          <img ng-init="Character.sel2='0'" ng-class="{'hidden':Character.sel2 == '0','shown':Character.sel2 == '1'}" class='img-arrow-link' src='images/link-arrow.png'>
                        </div>
                        <div class='col-xs-10'>
                          <p class="relatedDescItem" ng-mouseenter="Character.sel2='1'" ng-mouseout="Character.sel2='0'">{{Character.comics.items[2].name}}</p>
                        </div>
                      </div>

                       
                    </div>

                    <div class="col-xs-6">
                        

                       <div class="row flex-items-xs-middle">
                        <div class='col-xs-2'>
                          <img ng-init="Character.sel3='0'" ng-class="{'hidden':Character.sel3 == '0','shown':Character.sel3 == '1'}" class='img-arrow-link' src='images/link-arrow.png'>
                        </div>
                        <div class='col-xs-10'>
                          <p class="relatedDescItem" ng-mouseenter="Character.sel3='1'" ng-mouseout="Character.sel3='0'">{{Character.comics.items[3].name}}</p>
                        </div>
                      </div>


                    </div>

                  </div>

                  </div>

                </div>

         </div>

        </div>

        <div class="col-xs-12 text-xs-center" >
          
          <!--
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>

            -->
            <div>
            
            <dir-pagination-controls
                  max-size="5"
                  direction-links="true"
                  boundary-links="true" >              
            </dir-pagination-controls>

            </div>

        </div>



      </div>

    </div>

    <div id="favComicsSection" class="col-xs-12 col-sm-12 col-md-12 col-lg3">
        HZ 
    </div>

</div>

</div>
