
<div class="container-fluid">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-9">

      <div class="container-fluid">

        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-repeat="Character in Characters">

                <div class="card">

                  <div class="container-fluid">

                    <div class="row" style='min-height:200px;'>

                     <div class="col-xs-12 col-sm-6 col-md-6">
                        <img class='img-circle' src='{{Character.thumbnail.path + "." +  Character.thumbnail.extension}}'>
                     </div>
                     <div class="col-xs-12 col-sm-6 col-md-6">

                         <div class='row text-xs-left'>

                           <div class='caracterNameContainer' class='col-xs-12'>
                             <p class='characterName'>{{Character.name}}</p>
                           </div>

                           <div class='col-xs-12'>
                            <div class='characterDescContainer'>
                             <p class="characterDesc">{{Character.description}}</p>
                            </div>
                           </div>

                           <div class='col-xs-12'>
                              <input type='button' class='btn btn-primary btn-viewMore' value='View more' />
                           </div>

                         </div>
                         
                     </div>

                  </div>
                  <div class="row">
                    
                    <div class='row text-xs-left'>
                            
                            <div class='col-xs-12'>
                              <p class='relatedDesc'>Related comics</p>
                            </div>

                    </div>

                  </div>

                  <div class="row text-xs-left">
                    
                    <div class="col-xs-6">
                        <p class="relatedDescItem">{{Character.comics.items[0].name}}</p>
                    </div>

                    <div class="col-xs-6">
                       <p class="relatedDescItem">{{Character.comics.items[1].name}}</p>
                    </div>

                  </div>


                  <div class="row text-xs-left">
                    
                    <div class="col-xs-6">
                       <p class="relatedDescItem">{{Character.comics.items[2].name}}</p>
                    </div>

                    <div class="col-xs-6">
                       <p class="relatedDescItem">{{Character.comics.items[3].name}}</p>
                    </div>

                  </div>

                  </div>

                </div>

         </div>

        </div>

      </div>

    </div>

    <div class="col-xs-12 col-sm-2 col-md-3">

    </div>

</div>

</div>
